:root {
    --main-bg-color: navy;
    --main-txt-color: white;  
    --main-padding: 10px;  
    --calendar-background: lightgray;
    --calendar-text:blue;
  }
  
                        
  
#parent {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr auto;
    grid-template-rows: 50px auto auto auto auto 1fr;
    grid-template-areas:"hdgArea        hdgArea         hdgArea         hdgArea         hdgArea         hdgArea" 
                        "locationArea   coordArea       weeksArea       prtRptArea      rptNameArea     .  "
                        ".              .               .               prtRptArea      rptNameArea     ."
                        "coordHdgArea   coordHdgArea    coordHdgArea    coordHdgArea    coordHdgArea    coordHdgArea"
                        "emailArea      emailArea       emailArea       emailArea       emailArea       emailArea "
                        "emailBtnsArea  emailBtnsArea   emailBtnsArea   emailBtnsArea   emailBtnsArea   emailBtnsArea"; 
    grid-gap:1em;
    background-color:lightgray; 
    border:2px solid white;                  
}
#hdg {
    grid-area: hdgArea;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "titleArea     versionArea";
    padding-top: 10px;
    text-align: center;
    background-color:navy;
    color: var(--main-txt-color);
    border-bottom:white 3px;
}
.title {
    grid-area:titleArea;
}
.version {
    grid-area:versionArea;
    align-items: right;
}

#location {
    grid-area:locationArea;
    padding-top:30px;
    padding-left:20px;
    background-color: lightgray;
    color: navy;
}

#coordNames {
    grid-area:coordArea;
    padding-top:30px;
    background-color: lightgray;
    color:navy;
}

#weekChoices {
    grid-area:weeksArea; 
    padding:30px;
    background-color: lightgray;
    color:navy;
}

#printReportBtns {
    grid-area:prtRptArea;
    width:200px;
    padding-top:30px;
    padding-left:0px;
    margin-right:40px;
    background-color: lightgray;
    color:navy;
    border:1px solid navy;
}
/* #printReportBtns .active {
    transform: translateY(3px);
    filter:saturate(50%);
  } */
#printReportBtns ul {
    padding-left:0px;
    margin-left:25px;
    padding-right:0px;
    margin-right:0px;
}
#printReportBtns li {
    padding-right:20px;
    margin-right:20px;
}
#printReportBtns button {
    border-radius: 5px;
    margin-bottom:5px;
    width:150px;
    margin-right:20px;
    padding-right:0px;
}

#attachmentCheckboxes {
    grid-area:rptNameArea;
    width:200px;
    padding-left: 20px;
    background-color:lightgray;
    color:navy;
    border:1px solid navy
} 
#attachmentCheckboxes form button {
    width:150px;
    height:50px;
    margin-top:10px;
    margin-bottom:20px;
    margin-left:0px;
    margin-right:0px;
    padding:0px;
    border-radius: 5px; 
} 
/* 
.reportsForm {
    border:1px solid black;
} */
/* COORDINATOR INFORMATION LINE */
#coordinatorInfo {
    grid-area:coordHdgArea;
    text-align: center;
    border:1px solid navy;
    background-color: navy;
    color:white;
}
#coordHdgBeforeDate, #coordHdgBeforeName, #coordHdgBeforePhone, #coordHdgBeforeEmail {
    color:white;
}
#coordHdgDate {
    color:yellow;
}
#coordHdgName {
    color:yellow;
}
#coordHdgPhone {
    color:yellow;
}
#coordHdgEmailLink {
    background-color: white;
    color:blue;
}

/* EMAIL RECIPIENTS SECTION OF PAGE */
#emailSection {
    grid-area: emailArea;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"sendToArea     emailBody   emailBody   emailBody   emailButtons";
    background-color:lightsteelblue;
    padding-top:20px;
    border:1px solid navy;
}

/* LEFT COLUMN */
#sendToOptions {
    grid-area:sendToArea; 
    border: 1px solid black;
    padding-top:15px;
    padding-bottom: 40px;
    padding-left:20px;
    margin-left: 20px;
    margin-right:10px;
    width:250px;
    height:200px;
    color:navy;
}
#sendToOptions button {
    width:200px;
    border-radius: 5px;
    margin-top:5px;
}
#sendToOptions .active {
    transform: translateY(3px);
    filter:saturate(50%);
    /* background-color: red;
    color: white; */
  }


/*  MIDDLE COLUMN */
#eMailBody {
    grid-area:emailBody;
    margin-left:100px
}

#emailRecipient {
    grid-area:emailBody;
    color:navy;
    margin-left:20px;
} 

#emailSubject{
    grid-area:emailBody;
    color:navy;
    margin-top:10px;
    margin-left:20px;
    
}
#emailMessage {
    grid-area:emailBody;
    color:black;
    margin-top:10px;
    margin-left:20px;   
}
#eMailMsgID {
    border:1px solid navy;
    padding:10px;
}

/* RIGHT COLUMN */
#emailButtons {
    grid-area:emailButtons;
    border: 1px solid black;
    padding-top:0px;
    padding-bottom: 5px;
    padding-left:20px;
    margin-right:20px;
    width:150px;
    height:125px;
    color:navy;
    
    /* margin-top:0px;
    margin-right:0px;
    color:navy;
    text-align:center; */
}
#emailButtons button {
    width:125px;
    border-radius:5px;
    margin-top:5px;
}

#emailButtons .active {
    transform: translateY(3px);
    filter:saturate(50%);
    /* background-color: red;
    color: white; */
  }

.emailClass:active {
    transform: translateY(1px);
    filter:saturate(150%);
}
/* EMAIL SEND SAVE DONE BUTTONS */
/* #emailSendBtns {
    grid-area:emailBtnsArea;
    background-color: lightgray;
    color:navy; 
}*/


textarea {
    overflow-y: scroll;
}
#modalLookupID {
    height:600px;
}
#memberSelectID {
    width:200px;
    height:600px;

}
.modal-dialog {
    width:360px;
    height:600px !important;
}
.modal-content {
    height:60%;
    background-color:#BBD6EC;
}