:root {
    --main-bg-color: navy;
    --main-txt-color: white;  
    --main-padding: 10px;  
    --calendar-background: lightgray;
    --calendar-text:blue;
  }
  
                        
  
#parent {
    display: grid;
    grid-template-columns: auto auto auto auto 1fr auto;
    grid-template-rows: 50px auto auto auto 1fr;
    grid-template-areas:"hdgArea        hdgArea         hdgArea         hdgArea         hdgArea         hdgArea" 
                        "locationArea   coordArea       weeksArea       rptNameArea     prtRptArea      .  "
                        ".              .               .               rptNameArea     prtRptArea      ."
                        "emailArea      emailArea       emailArea       emailArea       emailArea       emailArea "
                        "emailBtnsArea  emailBtnsArea   emailBtnsArea   emailBtnsArea   emailBtnsArea   emailBtnsArea"; 
    grid-gap:1em;
    background-color:lightgray; 
    border:2px solid white;                  
}
#hdg {
    grid-area: hdgArea;
    padding-top: 10px;
    text-align: center;
    background-color:navy;
    color: var(--main-txt-color);
    border-bottom:white 3px;
}


#location {
    grid-area:locationArea;
    padding-top:30px;
    padding-left:20px;
    background-color: lightgray;
    color: navy;
}

#coordNames {
    grid-area:coordArea;
    padding-top:30px;
    background-color: lightgray;
    color:navy;
}

#weekChoices {
    grid-area:weeksArea; 
    padding:30px;
    background-color: lightgray;
    color:navy;
}

#rptChoices {
    grid-area:rptNameArea;
    width:200px;
    padding-left: 20px;
    background-color:lightgray;
    color:navy;
    border:1px solid navy
}  
/* 
.reportsForm {
    border:1px solid black;
} */
#prtReports {
    grid-area:prtRptArea;
    padding-top:50px;
    padding-left:30px;
    background-color: lightgray;
    color:navy;
}


/* EMAIL RECIPIENTS SECTION OF PAGE */
#emailSection {
    grid-area: emailArea;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"sendToArea     emailBody   emailBody   emailBody   emailButtons";
    background-color:lightsteelblue;
    padding-top:20px;
    border:1px solid navy;
}

/* LEFT COLUMN */
#sendToOptions {
    grid-area:sendToArea; 
    border: 1px solid black;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:20px;
    margin-left:20px;
    width:250px;
    height:200px;
    color:navy;
}
#sendToOptions button {
    width:200px;
    border-radius: 5px;
}
/*  MIDDLE COLUMN */
#eMailBody {
    grid-area:emailBody;
    color:navy;
    margin-left:100px
}
#emailSubject {
    grid-area:emailBody;
    color:navy;
    margin-left:30px;
    
}
#emailMessage {
    grid-area:emailBody;
    color:navy;
    margin-top:10px;
    margin-left:30px;
    
}
/* RIGHT COLUMN */
#emailButtons {
    grid-area:emailButtons;
    border: 1px solid black;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:30px;
    margin-right:100px;
    width:260px;
    height:200px;
    color:navy;
    
    /* margin-top:0px;
    margin-right:0px;
    color:navy;
    text-align:center; */
}
#emailButtons button {
    width:200px;
    border-radius:5px;
} 
/* EMAIL SEND SAVE DONE BUTTONS */
/* #emailSendBtns {
    grid-area:emailBtnsArea;
    background-color: lightgray;
    color:navy; 
}*/


textarea {
    overflow-y: scroll;
}