.classListModal {
    width:1500px;
    height:800px;
}
.modal-content {
    width:100%;
    border:2px solid blue;
    background-color: lightgrey;
}
.modal-header {
    text-align:center;
    background-color: navy;
    color:white;
}
/* .modal-header span {
    color:white;
} */
.modal-body {
    margin:auto;
}

/* .modal-dialog {
    vertical-align:middle;
} */
.modal-footer {
    background-color:white;
    height:50px;
    justify-content: center;
}


