@media screen { 
	.wholePage {
		line-height: 1;
		row-gap:0em;
		margin-left:10rem;
		margin-right:10rem;
	}
	#printPageButton #closePageButton {
		float: right;
		display: block;
	}
	.hdg {
		display:grid;
		grid-template-rows: 50px;
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-areas: ". titleArea buttonArea";
	}
	.title {
		grid-area: titleArea;
		text-align:center;
	} 
	.pageButtons {
		grid-area: buttonArea;
		text-align:right;
		margin-right:20px;
		padding-right:20px;
	} 
	
   	h1, h2, h3 {
		color: black;
		text-align: center;
		font-family: "Times New Roman",Times, sans-serif,serif;
   } 
   	h1 {
		font-size: 18pt;
		break-before: avoid;
	}
	
	h2 {
		font-size: 16pt;
	}
	
	h3 {
		font-size: 14pt;
	}
	hr {
		border:2px solid black;
	}
	.row {
		margin:0;
	}
	.detail {
		line-height: 2;
	}
	.detail .row:nth-child(even) {
		background-color:lightgray;
	}
	.groupFooter {
		break-after: always;
	}
}

@media print {
	html, body {
		border: 1px solid white;
        height: auto;
		break-before:avoid;
		break-after:avoid;
	}
	
	h1 {
		font-size: 16pt;
		break-before: page;
	}
			
	h2 {
		font-size: 14pt;
	}
			
	h3 {
		font-size: 12pt;
	}
			
	h1, h2, h3, h4, h5 {
		text-align:center;
		font-weight: bold;
		color:black;
	}

	.wholePage {
		margin-left:1em;
		margin-right:1em;
	}
	.detail {
		line-height: 2;
	}
	.detail .row:nth-child(even) {
		background-color:lightgray;
	}
	
	.groupFooter p {
		position:fixed;
		background-color: lightgreen;
		bottom:0px;
		width:100vw;
		padding-top:4px;
		padding-bottom:4px;
		break-after: always;
	}
	p .groupFooter {
		break-after: always;
	}
	
	.pageButtons {
		display:none;
		float:none;
	}
	
}

@page {
	size: portrait;
	orientation: portrait;
	display:block;
	position:relative;
	counter-increment: page;
	break-after:always;
} 