@media screen {
	#printPageButton, #closePageButton {
		float: right;
		display: block;
	}
body {
    background-color: #f5f5f0ea;
    color: rgb(40, 5, 97);
   }
   h1, h2, h3 {
	color: rgb(29, 9, 114);
    text-align: center;
	font-family: "Times New Roman",Times, sans-serif,serif;
   }
   
   table {
		width:100%;
	}
	
	#colHeadings {
		font-weight: bold;
		color:red;
	}
	#colHeadings h2 {
		text-align:center;
		color:red;
	}
	#topHeadings {
		text-align:center;
		color:red;
	}
	th {
  		background-color: rgb(74, 72, 189);
  		color: white;
	}
	tr:nth-child(even) {
		background-color: #d5d2dfa6;
	}
	th, td {
  		border-bottom: 1px solid #ddd;
	}
   p {
    background-color: #FFFF33;
    color: #330980;
    text-align: center;
    border: 3px groove #FFFF33;
   }  
}
@media print {

 	#content, #page {
	width: 100%; 
	margin: 0; 
	float: none;
	 }

	#printPageButton, #closePageButton{
		display: none;
	}

	/* #body {
	font-family: "Times New Roman",Times, sans-serif,serif;
	line-height: 1.5;
	font-size: 12pt;
	background: white !important;
	color: black;
	} */

	body {
		border: 1px solid white;
        height: 99%;
        page-break-after: avoid;
        page-break-before: avoid;
	}

	h1 {
			font-size: 18pt;
			break-before: page;
			/*counter-increment: page;*/
	}
			
	h2 {
			font-size: 16pt;
			}
			
	h3 {
			font-size: 14pt;
			}
			
	h1, h2, h3, h4, h5 {
		text-align:center;
		font-weight: bold;
		break-after: avoid;
	}


	table {
		width:100%;
	}
	
	table thead th { border-bottom: 1px solid #000; }

	th {
  		background-color: rgba(9, 10, 9, 0);
  		color: rgba(255, 255, 255, 0.973);
	}
	
	tr:nth-child(even) {
		background-color: #f2f2f23b;
	}

	tfoot::after {
		counter-increment:page;
		content: "Page " counter(page) " of " counter(pages);
	}

	#reportFooter {
		color:blue;
	}

}
@page {
	size:  landscape;
	display:block;
	position:relative;
	margin: 1cm;
	/*counter-increment: page;*/
	page-break-before: always;
}
