@media screen { 
	.wholePage {
		line-height: 1;
	}
	
	.pageButtons {
		display:block;
		text-align:right;
		margin-right:20px;
	} 
	
   	h1, h2, h3 {
		color: black;
		text-align: center;
		font-family: "Times New Roman",Times, sans-serif,serif;
   } 
   	h1 {
		font-size: 18pt;
		break-before: avoid;
	}
	
	h2 {
		font-size: 16pt;
	}
	
	h3 {
		font-size: 14pt;
	}
	hr {
		border:2px solid black;
	}

	table {
		width:95%;
		margin:0 auto;
	}
	th {
		font-size: 1rem;
		background-color: navy;
		color:white;
	}

	td {
		font-size:1rem;
		border:1px solid blue;
	}



	
	/* .transactionsSection {
		margin-left:11rem;
		margin-right:5rem;
	}
	.notesSection {
		width:80%;
		margin-left:15rem;
		margin-right:0rem;
	}
	.transactionsDetail {
		line-height: 1.5;
	}
	.transactionsDetail .row:nth-child(even) {
		background-color:lightgray;
	} */
	.notesDetail {
		line-height: 1.5;
	}
	.notesDetail tr:nth-child(even) {
		background-color:lightgray;
	}
}

@media print {
	html, body {
		font-size:1rem;
		break-before:avoid;
		break-after: avoid;
	}
	.wholePage {
		width:100%;
		margin:0 auto;
		break-before:avoid;
		break-after: avoid;
	}
	.pageButtons {
		display:none;
	}
	body {
		height:99%;
		break-after: avoid;
		break-before: avoid;
	}

	.detail .row:nth-child(even) {
		background-color:lightgray;
	}
	

	h1 {
		font-size: 16pt;
		break-before: avoid;
	}
			
	h2 {
		font-size: 14pt;
	}
			
	h3 {
		font-size: 12pt;
	}
			
	h1, h2, h3, h4, h5 {
		text-align:center;
		font-weight: bold;
		break-after: avoid;
		color:black;
	}
	table {
		width:95%;
		margin:0 auto;
	}
	th {
		font-size: 1rem;
		background-color: white;
		color:black;
	}

	td {
		font-size:1rem;
		border:1px solid black;
	}

}

@page {
	size: landscape;
	orientation: landscape;
	display:block;
	position:relative;
	margin:1cm;
	/* break-before: avoid;
	break-after: avoid;
	break-inside: avoid; */
	
} 