@media screen {
	.pageButtons {
		display:block;
		width:100%;
	}
	#printPageButton, #closePageButton {
		float: right;
		display: block;
		margin-right:20px;
	}
	body {
		background-color: #f5f5f0ea;
		color: rgb(40, 5, 97);
	}
	h1, h2, h3, h4{
	color: navy;
	text-align: center;
	font-family: "Times New Roman",Times, sans-serif,serif;
	}
	
	table {
		width:90%;
		margin:0 auto;
	}

	th {
  		background-color: rgb(74, 72, 189);
  		color: white;
	}
	tr:nth-child(even) {
		background-color: #d5d2dfa6;
	}
	th, td {
  		border-bottom: 1px solid #ddd;
	}
   p {
    background-color: #FFFF33;
    color: #330980;
    text-align: center;
    border: 3px groove #FFFF33;
   }  
}
@media print {
	html, body {
		page-break-before:avoid;
		page-break-after:avoid;

	}
	#wholePage {
		width:100%;
		margin:0 auto;
		break-before: avoid;
		break-after:avoid;
	}

	#printPageButton, #closePageButton{
		display: none;
	}


	body {
		border: 1px solid white;
        height: 99%;
        break-after: avoid;
        break-before: avoid;
	}

	h1 {
			font-size: 18pt;
			break-before: avoid;
			/*counter-increment: page;*/
	}
			
	h2 {
			font-size: 16pt;
			}
			
	h3 {
			font-size: 14pt;
			}
			
	h1, h2, h3, h4, h5 {
		text-align:center;
		font-weight: bold;
		break-after: avoid;
	}


	table {
		width:100%;
	}
	
	table thead th { border-bottom: 1px solid #000; }

	th {
  		background-color: white;
  		color: black;
	}
	
	tr:nth-child(even) {
		background-color:lightgray;
	}


	p {
		background-color: white;
		color: black;
		text-align: left;
	   }  

}
@page {
	size:  portrait;
	display:block;
	position:relative;
	margin: 1cm;
	/*counter-increment: page;*/
	
}
