@media screen { 
	.wholePage {
		line-height: 1.0;
		row-gap:0em;
	}
	#printPageButton #closePageButton {
		float: right;
		display: block;
	} 
	.pageButtons {
		float:right;
		margin-right:20px;
	} 

   	h1, h2, h3 {
		color: black;
		text-align: center;
		font-family: "Times New Roman",Times, sans-serif,serif;
   } 
   	h1 {
		font-size: 18pt;
		break-before: avoid;
	}
	
	h2 {
		font-size: 16pt;
	}
	
	h3 {
		font-size: 14pt;
	}
	.reportHdgLine1 {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:". titleArea  btnArea";
		text-align:right;
	}
	.reportHdgLine1Title {
		grid-area: titleArea;
	}
	.reportHdgLine1Buttons {
		grid-area:btnArea
	}

	.colHdg {
		display:grid;
		grid-template-columns: 250px 150px 600px;
		grid-template-areas:"nameHdgArea  phoneHdgArea  emailHdgArea";
		padding-left:50px;
		padding-right:50px;
		padding-top:0px;
		padding-bottom:0px;
		margin-top:0px;
		margin-bottom:0px;
		text-align: left;
	}
	#nameHdg {
		grid-area:nameHdgArea;
	}
	#phoneHdg {
		grid-area:phoneHdgArea;
	}
	#emailHdg {
		grid-area:emailHdgArea;
	}
	
	#detailSection {
		display:grid;
		grid-template-areas: "detailRow1Area"
							"detailRow2Area"
							"detailRow3Area";
		
	}
	#detailRow1 {
		display:grid;
		grid-template-columns: 250px 150px 275px 325px auto;
		padding-left:50px;
		padding-right:100px;
		padding-top:0px;
		padding-bottom:0px;
		margin-top:0px;
		margin-bottom:0px;
		text-align: left;
	}
	#detailRow2 {
		display:grid;
		grid-template-columns: 250px 150px auto 200px;
		padding-left:50px;
		padding-right:50px;
		padding-top:0px;
		padding-bottom:0px;
		margin-top:0px;
		margin-bottom:0px;
		text-align:left;
	}
	#certifiedDtl input {
		width:100px;
	}
	#detailRow3 {
		grid-area: detailRow3Area;
		display:grid;
		grid-template-columns: 250px 150px auto;
		padding-left:50px;
		padding-right:50px;
		padding-top:0px;
		padding-bottom:0px;
		margin-top:0px;
		margin-bottom:0px;
	}
	#trainingDtl {
		color:red;
	}
   	table {
		width:95%;
		margin:0 auto;
	}
	
	th {
		font:size 10pt;
	}
	
	/* th, td {
		border: 1px solid black; 
	} */
	td {
		font: size 8pt;
		white-space:pre-wrap;
		word-wrap:break-word;
	}
    
} 

@media print {
	.wholePage {
		page-break-inside: avoid;
	}
 	
	.pageButtons {
		display:none;
		float: none;
	}
	.reportHdgLine1 {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas:". titleArea  btnArea"
	}
	.reportHdgLine1Title {
		grid-area: titleArea;
	}
	.reportHdgLine1Buttons {
		grid-area:btnArea
	}

	.colHdg {
		display:grid;
		grid-template-columns: 250px 150px 600px auto;
		grid-template-areas:"nameHdgArea  phoneHdgArea  emailHdgArea  monthsHdgArea";
		padding-left:50px;
		padding-right:50px;
		padding-top:0px;
		padding-bottom:0px;
		margin-top:0px;
		margin-bottom:0px;
		text-align: left;
	}
	#nameHdg {
		grid-area:nameHdgArea;
	}
	#phoneHdg {
		grid-area:phoneHdgArea;
	}
	#emailHdg {
		grid-area:emailHdgArea;
	}
	#monthsHdg {
		grid-area:monthsHdgArea;
	}
	
	#detailSection {
		display:grid;
		grid-template-areas: "detailRow1Area"
							"detailRow2Area"
							"detailRow3Area";
		
	}
	#detailRow1 {
		display:grid;
		grid-template-columns: 250px 150px 275px 325px auto;
		padding-left:50px;
		padding-right:100px;
		padding-top:0px;
		padding-bottom:0px;
		margin-top:0px;
		margin-bottom:0px;
		text-align: left;
	}
	#detailRow2 {
		display:grid;
		grid-template-columns: 250px 150px auto 200px;
		padding-left:50px;
		padding-right:50px;
		padding-top:0px;
		padding-bottom:0px;
		margin-top:0px;
		margin-bottom:0px;
		text-align:left;
	}
	#certifiedDtl input {
		width:100px;
	}
	#detailRow3 {
		grid-area: detailRow3Area;
		display:grid;
		grid-template-columns: 250px 150px auto;
		padding-left:50px;
		padding-right:50px;
		padding-top:0px;
		padding-bottom:0px;
		margin-top:0px;
		margin-bottom:0px;
	}
	#trainingDtl {
		color:red;
	}

	tfoot::after {
		counter-increment:page;
		content: "Page " counter(page) " of " counter(pages);
	}

	#reportFooter {
		color:black;
	}

	body {
		border: 1px solid white;
        height: 100%;
        page-break-after: avoid;
        page-break-before: avoid;
	}

	h1 {
		font-size: 16pt;
		break-before: avoid;
	}
			
	h2 {
		font-size: 14pt;
	}
			
	h3 {
		font-size: 12pt;
	}
			
	h1, h2, h3, h4, h5 {
		text-align:center;
		font-weight: bold;
		break-after: avoid;
		color:black;
	}

}

@page {
	size: landscape;
	orientation: landscape;
	display:block;
	position:relative;
	counter-increment: page;
	page-break-before: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
} 
