{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}
{% block app_content %}

<div class="parent">
    <div class="hdg">
        <div class="title">
            <div><h1>AVAILABLE REPORTS</h1></div>
        </div>
        <div class="version">
            <h3>ver. Dec 11, 2020</h3>
        </div>  
        <!-- <button id="settingsIcon" style="display:none"><i class="fas fa-bars" data-toggle='modal' data-target='#settingsModal'></i></button>
        <button id="settingsBtn" style="display:none" type='button' class = 'btn btn-primary' data-toggle = 'modal' data-target = '#settingsModal'>
                SETTINGS  
        </button>     -->
    </div>
    <div id="printReportBtns">

        <div id="column1">
            <div id="location" style=margin-top:20px>
                <form class = "filterItems "></form>
                    <label for="shopChoice">Location: </label>
                    <select id="shopChoice" name="shopList" style="height: 25px;font-size: 1em;">
                        <option id='shop1' value="RA">Rolling Acres</option>
                        <option id='shop2' value="BW">Brownwood</option>
                    </select>
                </form>
            </div>
        </div>
   
        <div id="column2">
            <div class="miscReports" style=margin-top:20px>
                <!-- PRINT BUTTONS TO PROVIDE LINKS TO ROUTES -->
                <ul style="list-style-type:none;">
                    <!-- <li><button id='sendEmail' type="button" class='btn btn-sm btn-success'>SEND EMAIL</button></li>                 -->
                    <li><button id='prtPresidentsReportID' type="button" onclick='PresidentsReport()' class='btn btn-sm btn-primary'>President's Report</button></li>
                    <li><button id='prtMonitorTrainingID' type="button" class='btn btn-sm btn-primary'>Members by Monitor Training Date</button></li>
                    <li><button id='prtMentorsID' type="button" onclick='Mentors()' class='btn btn-sm btn-primary'>Mentor List</button></li>
                    <li><button id='prtContactsID' type="button" onclick='Contacts()' class='btn btn-sm btn-primary'>Contact List</button></li>
                </ul>
            </div>
        </div>

        <div id="column3">
            <div id="memberOptions" style=margin-top:20px>
                <select id="selectpicker" class='selectpicker' style='margin-bottom:20px' title='Find a member ...' data-live-search=true data-live-search-style="contains" data-width='auto'>
                {% for nme in nameList %}
                    <option class="optName" value='{{nme}}'</option>{{nme}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="memberReports">
                <!-- PRINT BUTTONS TO PROVIDE LINKS TO ROUTES -->
                <ul style="list-style-type:none;">
                    <li><button id='prtMonitorTransactionsID' disabled onclick='Transactions()' type="button" class='btn btn-sm btn-primary'>Monitor Transactions</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>  <!-- END OF PARENT WRAPPER -->


{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/index.js') }}"> </script>
{% endblock %}
