{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
{% endblock %}
{% block app_content %}

<div class="parent">
    <div class="hdg">
        <div class="title">
            <div><h1>AVAILABLE REPORTS</h1></div>
        </div>
        <div class="version">
            <h3>ver. May 9, 2021</h3>
        </div>  
    </div>

    <div id="printReportBtns">
        <div id="column1">
            <div id="location" style=margin-top:20px>
                <form class = "filterItems "></form>
                    <input type="hidden" id="loginShopID" value={{shopID}}>
                    <label for="shopChoice">Location: {{shopID}} </label>
                    <select id="shopChoice" name="shopList" style="height: 25px;font-size: 1em;">
                        <option id='shop1' value="RA">Rolling Acres</option>
                        <option id='shop2' value="BW">Brownwood</option>
                    </select>
                </form>
            </div>
            <div id=trainingClass>
                <div class="row">
                    <div class="col-2 offset-2" style=text-align:left>
                        <label> From</label>
                    </div>
                    <div class="col-2 offset-2" style=text-align:left>
                        <label>Through</label>
                    </div>     
                </div>
                <div class="row">
                    <div class="col-2 offset-2">
                        <input id='beginDateID' type="date" class="datepick" style=height:30px;width:8em value=""> 
                    </div>
                    <div class="col-2 offset-2">
                        <input id='endDateID' type="date" class="datepick" style=height:30px;width:8em value=""> 
                    </div> 
                </div>
                <div class="row" style=text-align:center;padding-left:100px;padding-top:10px;padding-bottom:10px>
                    <button id='printTrainingClassID' type="button" class='btn btn-sm btn-primary' style=width:200px;>Print Training Class List</button>
                </div>
            </div>
        
        </div>
   
        <div id="column2">
            <div class="miscReports" style=margin-top:20px>
                <!-- PRINT BUTTONS TO PROVIDE LINKS TO ROUTES -->
                <ul style="list-style-type:none;">
                    <!-- <li><button id='sendEmail' type="button" class='btn btn-sm btn-success'>SEND EMAIL</button></li>                 -->
                    <li><button id='prtPresidentsReportID' type="button" onclick='PresidentsReport()' class='btn btn-sm btn-primary'>President's Report</button></li>
                    <!-- <li><button id='printTrainingClassID' type="button" class='btn btn-sm btn-primary'>Monitor Training Class</button></li> -->
                    <!-- <li><button id='prtMonitorTrainingID' type="button" class='btn btn-sm btn-primary'>Members by Monitor Training Date</button></li> -->
                    <li><button id='prtMentorsID' type="button" onclick='Mentors()' class='btn btn-sm btn-primary'>Mentor List</button></li>
                    <li><button id='prtContactsID' type="button" onclick='Contacts()' class='btn btn-sm btn-primary'>Contact List</button></li>
                    <li><button id='prtAllClassesID' type="button" onclick='AllClasses()'  class='btn btn-sm btn-primary'>All Classes</button></li>
                    <li><button id='prtOpenClassesID' type="button" onclick='OpenClasses()' class='btn btn-sm btn-primary'>Open Classes</button></li>
                    <li><button id='prtClassListID' type="button" onclick='ClassList()' class='btn btn-sm btn-primary'>Class List</button>
                </ul>
            </div>
        </div>

        <div id="column3">
            <div id="memberOptions" style=margin-top:20px>
                <select id="selectpicker" class='selectpicker' style='margin-bottom:20px' title='Find a member ...' data-live-search=true data-live-search-style="contains" data-width='auto'>
                {% for nme in nameList %}
                    <option class="optName" value='{{nme}}'</option>{{nme}}</option>
                {% endfor %}
                </select>
            </div>
            <div class="memberReports">
                <!-- PRINT BUTTONS TO PROVIDE LINKS TO ROUTES -->
                <ul style="list-style-type:none;">
                    <li><button id='prtMonitorTransactionsID' disabled onclick='Transactions()' type="button" class='btn btn-sm btn-primary'>Monitor Transactions</button></li>
                    <li><button id='prtMemberScheduleID' disabled onclick='MemberSchedule()' type="button" class='btn btn-sm btn-primary'>Monitor Schedule</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>  <!-- END OF PARENT WRAPPER -->

{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="{{ url_for('static', filename='js/index.js') }}"> </script>
{% endblock %}
