{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <style>
    .sectionSummary {
		width:70%;		
		border:2px solid black;
		margin:0 auto;
	}
	.c1 {
        padding-left:100px;
    }
	.c1 .c3{
		min-width:200px !important;
	}
	.c3 {
		padding-left:0px;
	}
	.c2 .c4 {
		min-width:650px;
		color:navy;
		font-weight: bolder;
	}
    </style>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rptClassList.css') }}">  -->
{% endblock %}

{% block content %} 

<div class='wholePage'>
    
    <div class="hdg">
        <!-- <div class="pageButtons">
            <button id="printPageButton" class='btn btn-primary' onClick="window.print();">PRINT</button>
            <button id="closePageButton" class='btn btn-secondary' onclick="window.history.back()" >CLOSE PAGE</button>
        </div> -->
        <div class='title' style=text-align:center>
            <h1>THE VILLAGES WOODWORKERS CLUB</h1>
        </div>
    </div>

    <div class= "subTitles" style=text-align:center>
        <h2>Class List</h2>
        <h3>As of {{displayDate}}</h3>
        <br><br>
        <h2 style="text-align:center;font-weight:700">{{sectionNumber}}</h2> 
        <h2 style="text-align:center;font-weight:500;">{{courseTitle}}</h2>
    </div>
    <br><br>

    <div class="sectionSummary">
        <table style=margin:0 auto;>
            <tr>
                <th class=c1 style=font-weight:100>Section:</th>
                <th class=c2>{{sectionNumber}}</th>
                <th class=c3 style=font-weight:100>Max:</th>
                <th class=c4>{{maxSize}}</th>
            </tr>
            <tr>
                <th class=c1 style=font-weight:100>Instructor:&nbsp&nbsp&nbsp&nbsp</th>
                <th class=c2>{{instructor}}</th>
                <th class=c3 style=font-weight:100>Enrolled:</th>
                <th class=c4>{{enrolled}}</th>
            </tr>
            <tr>
                <th class=c1 style=font-weight:100>Dates:</th>
                <th class=c2>{{classDates}}</th>
                <th class=c3 style=font-weight:100>Available:&nbsp&nbsp&nbsp&nbsp</th>
                <th class=c4>{{available}}</th>
            </tr>
            <tr>
                <th  class=c1 style=font-weight:100>Times:</th>
                <th class=c2 style=width:300px>{{classTimes}}</th>
            </tr>
        </table>
    </div>
    <br><br><br><br>
    <div class='classListDetail'>
        <table style="margin:0 auto;">
            <thead>
                <th style=width:200px>Name</th>
                <th style=width:130px>Date Enrolled</th>
                <th style=width:200px>E-Mail</th>
                <th style=width:130px>Home Phone</th>
                <th style=width:130px>Cell Phone</th>
            </thead>
            <tbody>
                {% for enrolleeItem in enrolleeDict %}   
                    <tr>
                        <td>{{enrolleeItem.memberName}}</td>
                        <td>{{enrolleeItem.dateEnrolled}}</td>
                        <td>{{enrolleeItem.eMail}}</td>
                        <td>{{enrolleeItem.homePhone}}</td>
                        <td>{{enrolleeItem.cellPhone}}</td> 
                    </tr>
                {% endfor %}        
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
