{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rptContactList.css') }}">
{% endblock %}

{% block content %} 

<div class='wholePage'>
    
    <div class="hdg">
        <div class='title'>
            <h1>THE VILLAGES WOODWORKERS CLUB</h1>
        </div>
        <div class="pageButtons">
            <button id="printPageButton" class='btn btn-primary' onClick="window.print();">PRINT</button>
            <button id="closePageButton" class='btn btn-secondary' onclick="window.history.back()" >CLOSE PAGE</button>
        </div>
    </div>

    <div class='row'>
        <div class="col">
            <h3>Contact List</h3>
        </div>    
    </div>
       
    <div class='row'>
        <div class="col">
            <h3>As of {{todaysDate}}</h3>
        </div>
    </div> 

    {% for g in groups %}
        <div class="row pagebreak" style=text-align:center>
            <br>
            <br>
            <div class=col-12 style=text-align:center>
                <h2>{{g.Contact_Group}}</h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-2">Position</div>
            <div class='col-3'>Name</div>
            <div class='col-2'>Home Phone</div>
            <div class='col-2'>Cell Phone</div>
            <div class='col-3'>E-Mail</div>
        </div>
        <hr>

        <div class="detail">
        {% for contactItem in contactDict %}
            {% if contactItem.contactGroup == g.Contact_Group %}
                <div class="row">
                    <div class='col-2'>
                        {{contactItem.position}}
                    </div>
                    <div class='col-3'>
                        {{contactItem.name}}
                    </div>
                    <div class='col-2'>
                        {{contactItem.homePhone}}
                    </div>
                    <div class='col-2'>
                        {{contactItem.cellPhone}}
                    </div>
                    <div class='col-3'>
                        {{contactItem.eMail}}
                    </div>     
                </div>
            {% endif %}            
        {% endfor %} 
        
            <div class="groupFooter">
                <p>End of {{g.Contact_Group}}</p>
                <!-- End of {{g.Contact_Group}} -->
            </div>
        </div>
    {% endfor %}    
</div>
{% endblock %}
