{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rptContactList.css') }}"> 
{% endblock %}

{% block content %} 

<div class='wholePage'>
    
    <div class="hdg">
        <div class="pageButtons">
            <button id="printPageButton" class='btn btn-primary' onClick="window.print();">PRINT</button>
            <button id="closePageButton" class='btn btn-secondary' onclick="window.history.back()" >CLOSE PAGE</button>
        </div>
        <div class='title' text-align:center>
            <h1>THE VILLAGES WOODWORKERS CLUB</h1>
        </div>
    </div>

    <div class= "subTitles" text-align:center>
        <h3>Contact List</h3>
        <h3>As of {{todaysDate}}</h3>
    </div>
    
    <br>
    <table class='contactGroup'>
        {% for g in groups %}
        <thead>
        <th>
            <h2>{{g.Contact_Group}}</h2>
        </th>
        </thead>
        <tbody>
            <table class='table table-bordered table-striped'>
                <thead>
                    <th>Position</th>
                    <th>Name</th>
                    <th>Home Phone</th>
                    <th>Cell Phone</th>
                    <th>E-Mail</th>
                </thead>
                <tbody class='detail'>
                    {% for contactItem in contactDict %} 
                        {% if contactItem.contactGroup == g.Contact_Group %}   
                            <tr>
                                <td>{{contactItem.position}}</td>
                                <td>{{contactItem.name}}</td>
                                <td>{{contactItem.homePhone}}</td>
                                <td>{{contactItem.cellPhone}}</td>
                                <td>{{contactItem.eMail}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}        
                </tbody>
            </table>
        </tbody>
     
        <div style="break-after:page"><h3>  End of {{g.Contact_Group}}</h3></div>
        {% endfor %}
       
    </table>

</div>
{% endblock %}
