<!-- rptWeeklyContacts.html -->
{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rptTrainingClass.css') }}">
{% endblock %}

{% block content %} 
<div class='wholePage'>
    <div class="pageButtons">
        <button id="printPageButton" class='btn btn-primary btn-sm' style=margin-right:20px; onClick="window.print();">PRINT</button>
        <button id="closePageButton" class='btn btn-secondary btn-sm' style=margin-right:20px; onclick="window.history.back()" >CLOSE</button>
    </div> 
    <br> <br>
    
    <div class="reportHdg">
        <h1 class="text-center">THE VILLAGES WOODWORKERS CLUB</h1>
        <h2 class="text-center">{{shopName}}</h2> 
        <br>
        <h2 class="text-center">Training Class List for <span style=font-weight:bold>{{displayTrainingDate}}</span></h2>
        <h3 class="text-center">As of {{ todaysDate }}</h3>
    </div>
    
    <div>
        <table style="display: inline block;">                   
            <thead>
                <tr>
                    <th style="text-align:left">NAME</th>
                    <th style="text-align:center">ID</th>
                    <th style="text-align:center">TRAINING</th>
                </tr> 
                <hr>

            </thead> 
            <tbody>
                
                {% for classItem in classDict %}
                    <tr>
                        <td style="text-align:left">{{classItem.name}}</td>
                        <td style="text-align:center">{{classItem.memberID}}</td>
                        <td style="text-align:center">{{classItem.trainingDate}}</td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>  
    
</div>
{% endblock %} 
