<!-- rptWeeklyContacts.html -->
{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rptWeeklyContacts.css') }}">
{% endblock %}

{% block content %} 
<div class='wholePage'>
    <div class="pageButtons">
        <button id="printPageButton" style=margin-right:20px; onClick="window.print();">PRINT</button>
        <button id="closePageButton" style=margin-right:20px; onclick="window.history.back()" >CLOSE PAGE</button>
    </div> 
    <br> <br>
    
    <div class="reportHdg">
        <h1 class="text-center">THE VILLAGES WOODWORKERS CLUB</h1>
        <h2 class="text-center">{{locationName}}</h2>
        <h3 class="text-center">MONITORS FOR {{beginDate}} - {{endDate}}</h3>
        <h3 class="text-center">As of {{ todaysDate }}</h3>
    </div>
    
    <div>
        <table style="display: inline block;"> 
            <caption>SHOP MONITOR DUTY</caption>                     
            <thead>
                <tr>
                    <th style="text-align:center">NAME</th>
                    <th style="text-align:center">LAST TRAINED</th>
                    <th style="text-align:center">EMAIL</th>
                    <th style="text-align:center">HOME PHONE</th>
                    <th style="text-align:center">CELL PHONE</th>
                </tr> 
                <hr>
            </thead> 
            <tbody>
                {% for monitor in SMmonitors %}
                    <tr>
                        {% if monitor['needsTraining'] != 'Y' %}
                            <td style="text-align:left; background-color:white">{{monitor['name']}}</td>
                        {% else %}
                            <td style="text-align:left; background-color:yellow">{{monitor['name']}}</td>
                        {% endif %}
                        <td style="text-align:center">{{monitor['trainingYear']}}</td>
                        <td style="text-align:left">{{monitor['eMail']}}</td>
                        <td style="text-align:center">{{monitor['homePhone']}}</td>
                        <td style="text-align:center">{{monitor['cellPhone']}}</td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>  
    <div>
        <table style="display: inline block;">  
            <caption>TOOL CRIB DUTY</caption>                    
            <thead>
                <tr>
                    <th style="text-align:center">NAME</th>
                    <th style="text-align:center">LAST TRAINED</th>
                    <th style="text-align:center">EMAIL</th>
                    <th style="text-align:center">HOME PHONE</th>
                    <th style="text-align:center">CELL PHONE</th>
                </tr> 
            </thead> 
            <tbody>
                {% for monitor in TCmonitors %}
                    <tr>
                        {% if monitor['needsTraining'] != 'Y' %}
                            <td style="text-align:left; background-color:white">{{monitor['name']}}</td>
                        {% else %}
                            <td style="text-align:left; background-color:yellow">{{monitor['name']}}</td>
                        {% endif %}
                        <td style="text-align:center">{{monitor['trainingYear']}}</td>
                        <td style="text-align:left">{{monitor['eMail']}}</td>
                        <td style="text-align:center">{{monitor['homePhone']}}</td>
                        <td style="text-align:center">{{monitor['cellPhone']}}</td>
                    </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>  

</div>
{% endblock %} 
