{% extends 'base.html' %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/rptMentors.css') }}">
{% endblock %}

{% block content %} 
<div class='wholePage'>
    <div class="hdg">
        <div class="pageButtons">
            <button id="printPageButton" class='btn btn-primary'  onClick="window.print();">PRINT</button>
            <button id="closePageButton" class='btn btn-secondary' onclick="window.history.back()" >CLOSE PAGE</button>
        </div>
        <br>
        <br>
        <div class='title' text-align:center>
            <h1>THE VILLAGES WOODWORKERS CLUB</h1>
        </div>
    </div>

    <div class= "subTitles" text-align:center>
        <h3>MENTORS</h3>  
        <h3>As of {{todaysDate}}</h3>
    </div>
       
    <br>
    <table>
        <thead>
            <th>Name</th>
            <th>Home Phone</th>
            <th>Cell Phone</th>
            <th>E-Mail</th>
        </thead>
        <tbody>
            {% for mentorItem in mentorDict %}    
                <tr>
                    <td>{{mentorItem.name}}</td>
                    <td>{{mentorItem.homePhone}}</td>
                    <td>{{mentorItem.cellPhone}}</td>
                    <td>{{mentorItem.eMail}}</td>
                </tr>
            {% endfor %}        
        </tbody>
    </table> 
    <p>Number of records - {{recordCnt}}</p>    
</div>
{% endblock %}
